body, html {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  min-width: 500px;
  background-color: #F2F2F2;
}
/* 
html {
  height: -webkit-fill-available;
}

main {
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
} */

@media (min-width: 768px) {
  .navbar-toggler {
      display: none;
  }
}


.offcanvas, .offcanvas-md, .offcanvas-sm {
  --bs-offcanvas-width: 250px;
  
}




/* This is your side bar and top bar color - customize */
.bg-success{
  --bs-bg-opacity: 1;
  background-color: #F2E205 !important;
 
}

/* This is your side bar right and left margin color - customize */
.bg-light {
  --bs-bg-opacity: 1;
  background-color: #F2E205 !important; 
 
}

.offCanvas-home {
  font-size: 18px;


}
.navbar-light{
  background-color: rgba(0, 0, 0, 0) !important;
}

.navbar {
  padding-left: 10px;
}

/* change the hieght of the navbar icon if you want */
.navbar-hieght{
  height: 60px;
}

.navbar-toggler:focus,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}


.navbar {
  --bs-navbar-padding-x: 0;
  --bs-navbar-padding-y: 0;
}

.dropdown-toggle { outline: 0; }

.btn-toggle {
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
}

/* this is the background color for the main areas in the sidebar- customize */
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
   background-color: #F2AEEE; 
}

/* this is the background color for the sub areas in the sidebar- customize */
.btn-toggle-nav a:hover,
.btn-toggle-nav a:active {
   background-color: #F2AEEE; 
}

.activeLink{
  padding: .25rem .5rem;
  font-weight: 600;
  color: #8C374E;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
}

.scrollarea {
  overflow-y: auto;
}
  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

.code-background{
  background-color: rgba(213, 213, 213, 0.363);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 1px 1px 1px;

}

.page-link{
  color: grey;
}

.pagination {
  --bs-pagination-hover-color: #222;
  --bs-pagination-hover-bg: #d2f4ea;;
  --bs-pagination-active-color: #222;
  --bs-pagination-active-bg: #D9D9D9;
  --bs-pagination-active-border-color: #222;

}



